@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-custom {
  @apply text-white no-underline hover:opacity-80;
}

.category-item:nth-last-child(-n+10) {
  border-bottom: none;
}

.category-item:nth-child(10n) {
  border-right: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}